{% apply inline_css %}
    <style>
        {# here, define your CSS styles as usual #}
        h1 {
            color: #ff851b;
        }
    </style>

<h1>Information sur la modification de votre mot de passe</h1>

<h2>Cher/chère client/cliente,</h2>
<p>Nous vous informons que le mot de passe de votre compte {{email}} a été modifié le {{dateModif | date("d-m-Y à H:i:s")}}<br/>
Si vous êtes à l'origine de cette modification, vous pouvez ignorer et supprimer ce mail. Dans le cas contraire, veuillez sans plus attendre
nous contacter <a href="https://webdealmarket.fr/contact">sur ce lien</a>.</p><br/>

<br/> 
<br/>
<p>Nous vous remercions de votre attention et à bientôt chez Web Deal Market</p> 

{% endapply %} 
 
 
 
 
 
 
 
